﻿body {
}

.button1 {
    background-color: #1eabe2 !important;
    color: black !important;
    border-radius: 2px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-color: #1eabe2 !important;
}
.button1:hover {
   /*background-color: #1889b5 !important;*/
}
.button2 {
    background-color: #1eabe2 !important;
    color: black !important;
    border-radius: 2px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    border-color: #1eabe2 !important;
}
